# Data Generation and Manipulation
# ------------------------------------------------------------------------------
pandas==1.5.3  # https://pypi.org/project/pandas/1.5.3/  # Powerful data structures for data analysis, time series, and statistics
requests==2.28.2  # https://pypi.org/project/requests/2.28.2/  # Python HTTP for Humans.

# Text Preprocessing
# ------------------------------------------------------------------------------
textblob==0.17.1  # https://pypi.org/project/textblob/0.17.1/  # Simple, Pythonic text processing. Sentiment analysis, part-of-speech tagging, noun phrase parsing, and more.
nltk==3.8.1  # https://pypi.org/project/nltk/3.8.1/  # Natural Language Toolkit
gensim==4.3.0  # https://pypi.org/project/gensim/4.3.0/  # Python framework for fast Vector Space Modelling

# Deep Learning Framework
# ------------------------------------------------------------------------------
torch==1.13.1  # https://pypi.org/project/torch/1.13.1/  # Tensors and Dynamic neural networks in Python with strong GPU acceleration

# Vectorization
# ------------------------------------------------------------------------------
umap-learn==0.5.3  # https://pypi.org/project/umap-learn/0.5.3/  # Uniform Manifold Approximation and Projection
sentence-transformers==2.2.2  # https://pypi.org/project/sentence-transformers/  # Multilingual text embeddings

# Clustering
# ------------------------------------------------------------------------------
hdbscan==0.8.29  # https://pypi.org/project/hdbscan/0.8.29/  # Clustering based on density with variable density clusters